@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<html>
<body>

    <h1>This is Privacy Page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, quaerat consectetur? Sapiente ullam quidem officiis sint ad voluptas nisi. Ipsum, porro? Quia ab, consectetur commodi architecto blanditiis quos obcaecati ut eveniet? Doloribus fugit blanditiis modi fugiat consectetur. Quod eveniet sunt, ad repellendus unde deserunt harum soluta similique perspiciatis aliquam reprehenderit odio blanditiis beatae ex saepe id aliquid voluptatibus.

    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nesciunt facer e reiciendis blanditiis impedit quasi magnam, aspernatur omnis sed vero? Eius, dolore ipsum. Ex sed aspernatur ipsum eum optio, laudantium hic ut?
    </p>
</body>
</html>